In [1]:
import pandas as pd

In [2]:
locations = ["New York", "Seattle", "Delhi", "Mumbai", "Pune"]

In [3]:
df = pd.DataFrame(locations, columns=["Adresses"])

In [4]:
df

   Adresses
0  New York
1   Seattle
2     Delhi
3    Mumbai
4      Pune

In [8]:
import googlemaps

In [ ]:
gmaps_key = googlemaps.Client("API")

In [10]:
df["LAT"] = None
df["LON"] = None

In [ ]:
for i in range(0,len(df)):
    result = gmaps_key.geocode(df.iloc[i,0])
    try:
        lat = result[0]["geometry"]["location"]["lat"]
        lon = result[0]["geometry"]["location"]["lng"]
        df.iloc[i,df.columns.get_loc("LAT")] = lat
        df.iloc[i,df.columns.get_loc("LON")] = lon
    
    except:
        lat = None
        lon = None

In [11]:
df

   Adresses   LAT   LON
0  New York  None  None
1   Seattle  None  None
2     Delhi  None  None
3    Mumbai  None  None
4      Pune  None  None